.container {
    display: flex;
  }
  
  .list-container {
    width: 50%;
    overflow-y: scroll;
    max-height: 80vh;
  }
  
  .form-container {
    width: 50%;
    padding: 10px;
  }
  
  .error {
    color: red;
  }
  